[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "StratSel"]
	path = StratSel
	url = https://github.com/lleemann/stratsel
	shallow = true
	registered = true
[submodule "swissMrP"]
	path = swissMrP
	url = https://github.com/lleemann/swissmrp
	shallow = true
	registered = true
